# Python Data Structures and Boolean

 - Boolean
 - Boolean and Logic operators
 - List
 - Comparison operators
 - Dictionaries
 - Tuples
 - Sets

# Boolean Variables

Boolean Values are two constant objects True and False

They are used to truth values (other values can also be considered false and true)

In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
!pip3 install tqdm

Requirement already satisfied: tqdm in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (4.62.2)
Requirement already satisfied: colorama in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (from tqdm) (0.4.4)

In [4]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (1.3.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
!pip3 install numpy

Requirement already satisfied: numpy in c:\users\elcot\appdata\local\programs\python\python39\lib\site-packages (1.21.2)

# Python Buildin Functions in Bool variables

In [2]:
my_name = "Subash0304S"

In [3]:
print(my_name.isalpha()) #Check if all the str are alphas
print(my_name.isdigit()) # Check if str contains any digits
print(my_name.isalnum())#Chech if all the str are numbers
print(my_name.istitle()) # check if str contains Titile words.(Title case means which the words are strat with upppercase and remaing all are lower case)
print(my_name.islower()) # Check if the str contains only the lowercases
print(my_name.isupper()) # Check if the str contains only the uppercases
print(my_name.isspace()) # check if any spaces in the str
print(my_name.startswith('S')) # cehck if the str starts with 's'
print(my_name.endswith('S')) # check if the str ends with 'h'

False
False
True
True
False
False
False
True
True

## Boolean and Logic Operators

### and , or ,not

In [9]:
True and True

True

In [10]:
False and False

False

In [11]:
True or False

True

In [12]:
False or True

True

In [13]:
False or False

False

In [18]:
my_name = "Subashs"
my_age = 'ageis'

In [19]:
print(my_name.isalpha() or my_age.isalnum())

True

## List

#### The list is a data structure in python that is mutable or changable or ordered sequence of elements.Each element or value that is inside of a list is called an item.just as strings are having values in quotes , list are having the values inside of square brackets [ ]

In [22]:
list_example = []

In [23]:
type(list_example)

list

In [24]:
lst = list()
type(lst)

list

In [2]:
lst  = ['Subash', 'Scores','are' , 90, 80, 90, 93,98]

In [5]:
#appending nested list
lst.append(["Rock","John"])
lst

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, 'Rock', ['Rock', 'John']]

In [27]:
type(lst)

list

In [28]:
#indexing in list
lst[0]

'Subash'

In [29]:
lst[2:4]

['are', 90]

In [30]:
lst[5:]

[90, 93, 98, ['Rock', 'John']]

In [31]:
len(lst)

9

In [7]:
print(lst, sep = ',')

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, 'Rock', ['Rock', 'John']]

### Append

In [33]:
#.append is used to add a element into the list
lst.append("Cognizant")
print(lst)

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, ['Rock', 'John'], 'Cognizant']

In [34]:
#appending nested list
lst.append(["Rock","John"])
print(lst)

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, ['Rock', 'John'], 'Cognizant', ['Rock', 'John']]

In [35]:
len(lst)

11

## Insert

In [36]:
#insert in a specific order
lst.insert(9,"CBE")
print(lst)

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, ['Rock', 'John'], 'CBE', 'Cognizant', ['Rock', 'John']]

## Extend

#### While using the append function it will create a seperate element in the list but while using the extend element it was added the elements in the list with the similiar elements

In [37]:
lst.extend(["Max","Ragav"])
print(lst)

['Subash', 'Scores', 'are', 90, 80, 90, 93, 98, ['Rock', 'John'], 'CBE', 'Cognizant', ['Rock', 'John'], 'Max', 'Ragav']

### Various operations that we perform in list

In [38]:
lst1 = [2,3,4,6,7,2]
sum(lst1)

24

In [29]:
# using * in the list it was print the list in the given value of times but not it get multiplied the elements by the given value
#For Example
print(lst1*2)
print(lst1*3)

[2, 3, 4, 6, 7, 2, 2, 3, 4, 6, 7, 2]
[2, 3, 4, 6, 7, 2, 2, 3, 4, 6, 7, 2, 2, 3, 4, 6, 7, 2]

### pop() Method

#### Pop function is used for try to picup or remove the element of the list based on the given index

In [30]:
lst1.pop() #if we didn't give any inidex inside the () it will get the last element of the list

2

In [31]:
lst1

[2, 3, 4, 6, 7]

In [32]:
lst1.pop(0)

2

In [33]:
lst1

[3, 4, 6, 7]

### count () calculate total occurance of given element of list

#### count functions was count the element , how many time the element was inside list , its was based in the element within()

In [34]:
lst3 = [1,2,2,3,4,5,6,7,8,9]

In [35]:
lst3.count(2) #it printout how many times the element 2 was inside the list

2

In [40]:
#using index in returns the index of first occurance. Start and end index are not neccessary parameters
lst3.index(4) # it will give the values which is in the 4th index of the list

4

In [41]:
lst3.index(3, 0, 6) #3 is which (value) to be check in the list , 0 is (starting) index in the list, 6 is (ending) index of the list

3

In [42]:
#min 
min(lst3)

1

In [43]:
#max
max(lst3)

9