# Sets

#### A set is an unordered collection data type that is iterable,mutable and has no dublicates elements.Python's set class represents the mathematical notation of a set.This is based on data structure known as a hash table.

In [1]:
#Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [4]:
set_var ={1,2,3,4,3} 
set_var #Didn't allow duplicates elements

{1, 2, 3, 4}

In [8]:
#indexing
#set_var[0] #doesn't allow the indexing

In [1]:
set_var ={"Roman","GoldBerg","John","Rock"}

In [4]:
set_var

{'GoldBerg', 'John', 'Rock', 'Roman'}

In [27]:
#Set doesn't allow append attribute but ot allows to add the element using "add" attribute
set_var.add("Undertaker")
set_var

{'GoldBerg', 'John', 'Rock', 'Roman', 'Undertaker'}

In [30]:
set_var.pop() # pop function to remove the element in the set

'Undertaker'

In [31]:
set_var

{'GoldBerg', 'John', 'Rock'}

In [67]:
set1={"Roman","GoldBerg","John","Rock"}
set2={"Roman","GoldBerg","John","Rock","Undertaker"}

In [68]:
set2.intersection(set1) #it give the output of common elements in the both sets

{'GoldBerg', 'John', 'Rock', 'Roman'}

In [69]:
set2.intersection_update(set1) #it will update the set two as per the common elements in the both sets
set2

{'GoldBerg', 'John', 'Rock', 'Roman'}

In [70]:
set1={"Roman","GoldBerg","John","Rock"}
set2={"Roman","GoldBerg","John","Rock","Undertaker"}

In [74]:
set2.difference(set1) #it will give the output, which the element differ from set 1 that mean which value doesn't hold in set 1

{'Undertaker'}

In [75]:
set2.difference_update(set1) #it was update set2, which the value was not difer from the set 1 compare to set 2

In [77]:
set2 # displays the new set2 as after update the differ elements

{'Undertaker'}

In [78]:
set1={"Roman","GoldBerg","John","Rock"}
set2={"Roman","GoldBerg","John","Rock","Undertaker"}

In [81]:
set1.clear() # it was clear the all elements in set1

In [85]:
print(set1)

set()

In [87]:
set2.clear()

In [88]:
print(set2)

set()

# Dictionaries

#### A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly braces and they have keys and values

In [89]:
dic={}

In [90]:
type(dic)

dict

In [92]:
dic={1,2,3,4,5} #Don't create a dictionaries like this because the machine was considering this a set
type(dic)

set

In [17]:
# Let create a dict
dic = {
    "car1" : "Audi",
    "car2" : "BMW",
    "car3" : "Tesla",
    'car4' : "Lambargini"
}
print(type(dic))
print(dic)
print(dic.keys())
print(dic.values())

<class 'dict'>
{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Tesla', 'car4': 'Lambargini'}
dict_keys(['car1', 'car2', 'car3', 'car4'])
dict_values(['Audi', 'BMW', 'Tesla', 'Lambargini'])

In [18]:
dic['car2'] # Get the values using the indexing with the keydic['car1']

'BMW'

In [19]:
dic['car2'] # Get the values using the indexing with the key

'BMW'

In [20]:
dic["car3"]# Get the values using the indexing with the key

'Tesla'

In [21]:
dic['car3'] = "Tata" # change the values using the key

In [22]:
dic

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Tata', 'car4': 'Lambargini'}

In [23]:
car = {'car5':'Toyota'}
dic.update(car) # update the new element into the dictionaries

In [24]:
dic

{'car1': 'Audi',
 'car2': 'BMW',
 'car3': 'Tata',
 'car4': 'Lambargini',
 'car5': 'Toyota'}

In [25]:
dic.update({"car6":"Nexon"})# update the new element into the dictionaries

In [26]:
dic

{'car1': 'Audi',
 'car2': 'BMW',
 'car3': 'Tata',
 'car4': 'Lambargini',
 'car5': 'Toyota',
 'car6': 'Nexon'}

In [27]:
dic['car7'] = 'sumo' # update the new element into the dictionaries

In [28]:
dic

{'car1': 'Audi',
 'car2': 'BMW',
 'car3': 'Tata',
 'car4': 'Lambargini',
 'car5': 'Toyota',
 'car6': 'Nexon',
 'car7': 'sumo'}

In [29]:
dic.get('car1') #get the element using get function it was similiar to indexing

'Audi'

In [30]:
dic.items()

dict_items([('car1', 'Audi'), ('car2', 'BMW'), ('car3', 'Tata'), ('car4', 'Lambargini'), ('car5', 'Toyota'), ('car6', 'Nexon'), ('car7', 'sumo')])

In [34]:
#to create a key and assign the values for the key using "fromkeys" function
a = 'yamaha','ducati','bmw'
b = '133cc'
dic.fromkeys(a , b)

{'yamaha': '133cc', 'ducati': '133cc', 'bmw': '133cc'}

In [35]:
len(dic)

7

In [209]:
# we can even loop throught the dictionaries keys
for x in dic:
    print(x)

car1
car2
car3
car4
car5
car6
car7

In [210]:
# we can even loop throught the dictionaries values
for x in dic.values():
    print(x)

Audi
BMW
Tata
Lambargini
Toyota
Nexon
sumo

In [211]:
# we can even loop throught the dictionaries keys and values
for x in dic.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Tata')
('car4', 'Lambargini')
('car5', 'Toyota')
('car6', 'Nexon')
('car7', 'sumo')

### Nested Dictionaries

In [38]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1980}
car3_model={"BMW":2010}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model,}

In [39]:
car_type

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1980}, 'car3': {'BMW': 2010}}

In [218]:
car_type['car2'] #to get the values using keys

{'Audi': 1980}

In [219]:
car_type['car2']['Audi']

1980

### Tuples

##### once create the tuple then we can't able to change any elements in the tuple

In [7]:
# crete a tuple
my_tuple =tuple()

In [4]:
type(my_tuple)

tuple

In [5]:
my_tuples = ("Subash","Selvaraj","Subash") #tuples allow duplicates

In [6]:
print(set(my_tuples))

{'Selvaraj', 'Subash'}

In [ ]:
print(my_tuples)

In [248]:
#we can using indexing in tuples
my_tuples[0]

'Subash'

In [249]:
#we can change the entire tuple but not be able to change a single element in the tuple
#For Example
my_tuple = ('John','Vijay')
my_tuple

('John', 'Vijay')